<div id="<%= dom_id movie %>">

  <% if movie.poster.nil? %>
    <%= image_tag "no_poster.webp" %>
    <p class="no_poster_title">
    <%= movie.name %>
    </p>
  <% else %>
    <%= image_tag "#{@large_poster}#{movie.poster}" %>
  <% end %>
  <h1><%= movie.name %></h1>
  <%= movie.release %><br />
  <%= movie.runtime %> mins<br />
  <a href="https://www.imdb.com/title/<%= movie.imdb %>" target="_new">imdb link</a>
  <br />
</div>
