<div id="<%= dom_id movie %>">

  <% if movie.info["poster_path"].nil? %>
    <%= image_tag "no_poster.webp" %>
    <p class="no_poster_title">
    <%= movie.info["original_title"] %>
    </p>
  <% else %>
    <%= image_tag "#{@large_poster}#{movie.info["poster_path"]}" %>
  <% end %>
  <h1><%= movie.info["original_title"] %></h1>
  <%= movie.info["release_date"] %><br />
  <%= movie.info["runtime"] %> mins<br />
  <a href="https://www.imdb.com/title/<%= movie.info["imdb_id"] %>" target="_new">imdb link</a>
  <br />
  <%= movie.info["overview"] %><br /><br />

  <p>
    <strong>Tmdb:</strong>
    <%= movie.tmdb_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= movie.name %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= movie.info %>
  </p>

</div>
