<h1>Search!</h1>


<%= form_with url: "/search", method: :get do |form| %>

  <%= form.text_field :search %>

  <%= form.submit "Search" %>
<% end %>
<% @results.each do |movie| %>
  <% if movie["poster_path"].nil? %>
    <%= image_tag "no_poster.webp" %>
  <% else %>
    <%= image_tag "#{@small_poster}#{movie["poster_path"]}" %>
  <% end %>
  <%= movie["original_title"] %><br />
<% end %>


