<div class="container">
  <%= link_to "< Back", :back %> <br /><br />
  <% if @movie["poster_path"].nil? %>
    <%= image_tag "no_poster.webp" %>
    <p class="no_poster_title">
    <%= @movie["original_title"] %>
    </p>
  <% else %>
    <%= image_tag "#{@large_poster}#{@movie["poster_path"]}" %>
  <% end %>
  <h1><%= @movie["original_title"] %></h1>
  <%= @movie["release_date"] %><br />
  <%= @movie["runtime"] %> mins<br />
  <a href="https://www.imdb.com/title/<%= @movie["imdb_id"] %>" target="_new">imdb link</a>
  <br />
  <%= @movie["overview"] %><br /><br />

  <%= @test %>
  <h3> Currently available on: </h3>
  <% if @streamers["results"]["US"]["flatrate"].nil? %>
    None of your streaming platforms have this movie currently
  <% else %>
    <% @streamers["results"]["US"]["flatrate"].each do |stream| %>
      <%= stream.inspect %>
      <%= stream["provider_name"] %><br />
    <% end %>
  <% end %>
  <% movie_id = Movie.find_by(tmdb_id: @movie["id"]) %>
  <% movie_id = movie_id.nil? ? 0 : movie_id.id %>
  <% unless Save.where(user_id: current_user.id, movie_id: movie_id).present? %>
    <%= form_with url: "/movies", method: :post do |f| %>
      <%= f.hidden_field :tmdb_id, value: @movie["id"] %>
      <%= f.hidden_field :name, value: @movie["original_title"] %>
      <%= f.hidden_field :imdb, value: @movie["imdb_id"] %>
      <%= f.hidden_field :runtime, value: @movie["runtime"] %>
      <%= f.hidden_field :release, value: @movie["release_date"] %>
      <%= f.hidden_field :poster, value: @movie["poster_path"] %>
      <%= f.submit "Save movie" %>
    <% end %>
  <% else %>
    <%= button_to "Remove Movie", Save.where(user_id: current_user.id, movie_id: movie_id)[0], method: :delete %>
  <% end %>
</div>
