<!DOCTYPE html>
<html>
  <head>
    <title>Wwwgw</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <nav>
        <ul>
          <li><h2 style="margin: 0"><strong><a href="/">wwwGw?</a></strong></h2></li>
        </ul>
        <ul>
          <li><%= link_to image_tag("search.svg", class: "menu_img"), "/search" %></li>
          <% if current_user.nil? %>
            <li><%= link_to "sign in", new_user_session_url, role: "button" %></li>
          <% else %>
            <li><%= link_to current_user.name, "/user/#{current_user.id}", class: "nav_username" %><%= link_to image_tag("profile.png", width: 48, class: "menu_img"), "/user/#{current_user.id}" %></li>
            <li><%= link_to "sign out", destroy_user_session_url, role: "button", class: "outline" %></li>
          <% end %>
        </ul>
      </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
